body{
     
    cursor: url(cig.gif), auto;
    background-color: light green;

  }
  h1{
      text-align:center;
    color:neon yellow;
    
    
    
  }
  p {
    font-family: Impact, Charcoal, sans-serif;
  }
