body{
     
  cursor: url(cig.gif), auto;
    background-color:  rgb(130, 202, 35);

  }
  h1{
      text-align:center;
    color: yellow;
    
    
    
    
  }
  p {
    font-family: Impact, Charcoal, sans-serif;
  }
